html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Space Grotesk';
    background-color: #f1f2f6;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(120deg, #27187e 0%, #758bfd 100%);
    color: #f1f2f6;
    width: 100%;
    height: 10%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 16px;
}

header h1 {
    margin: 0;
    font-weight: 900;
}

ul {
    margin: 0;
    padding: 0;
}

.main-content {
    width: 90%;
}

.sidebar {
    /* background-image: linear-gradient(120deg, #27187e 0%, #aeb8fe 100%); */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 16px;
    background-color: #aeb8fe;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page {
    height: 90%;
    display: grid;
    grid-template-columns: 3fr 8fr;
    justify-items: center;
}

h2 {
    font-size: medium;
}

.todo-item {
    position: relative;
    background-image: linear-gradient(120deg, #758bfd 0%, #aeb8fe 100%);
    color: black;
    border-radius: 5px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 10fr 10fr 5fr;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.completed-checkbox {
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
}

.prio-indicator {
    width: 100%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    border-right: 5px solid #f1f2f6;
}

.prio1-indicator {
    background-color: rgb(255, 70, 24);
}
.prio2-indicator {
    background-color: rgb(255, 252, 48);
}
.prio3-indicator {
    background-color: rgba(51, 192, 93, 0.726);
}

.groups {
    width: 85%;
}

.todo-items, .groups {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.todo-items {
    width: 100%;
}

.todo-items:first-child {
    margin-top: 0;
}

.project-item {
    width: 90%;
    padding: 0 5%;
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: #f1f2f6;
    margin-top: 10px;
    transition: .3s;
}

.project-item:first-child {
    margin-top: 0;
}

.project-item:hover {
    transition: .3s;
    cursor: pointer;
    background-color: #ffad4f;
}

.project-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-button {
    margin: 5px;
    width:  35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.project-button:hover {
    cursor: pointer;
    background-color: #758bfd;
    color:  #27187e;
    transition: .3s;
}

.project-item .project-button:hover {
    background-color: #ff8600;
    color:  #f1f2f6;

}

.project-item i {
    font-size: 24px;
}

.project-item h2 {
    margin-left: 5px;
    justify-self: start;
}

.add-project-button {
    margin-left: 10px;
    font-size: 24px !important;
}

.add-item-button {
    margin-left: 10px;
}

.add-item-icon {
    margin: 0 10px;
    font-size: 24px !important;
}

.add-project-header {
    display: flex;
    align-items: center;
    transition: .3s;
    height: 50%;
    padding: 5px 10px;
    border-radius: 5px;
}

.add-project-header:hover {
    background-color: #27187e;
    cursor: pointer;
    color: #f1f2f6;
    transition: .3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type='checkbox'] {
    accent-color: #27187e;
}

.new-item-modal {
    z-index: 2;
    background-color: #f1f2f6;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-wrapper {
    width: 30%;
    border-radius: 5px;
    z-index: 2;
    background-color: #f1f2f6;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-modal-title {
    width: 100%;
    border-radius: 5px 5px 0 0;
    background-image: linear-gradient(120deg, #27187e 0%, #758bfd 100%);
    color: #f1f2f6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-modal-title-text {
    font-size: x-large;
    margin: 10px 0;
}

p {
    margin: 0;
}

.hidden {
    display: none !important;
}

.new-item-form {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.full-width {
    grid-column: 1 / 3;
}

.new-item-modal p {
    display: flex;
    flex-direction: column;
}

.new-item-modal textarea {
    resize: none;
}

.modal-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: linear-gradient(120deg, #27187e 0%, #758bfd 100%);
    border-radius: 5px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
    z-index: 1;
  }

  .new-project-modal {
    /* border-radius: 5px;
    z-index: 2;
    background-color: blanchedalmond;
    position: fixed;
    padding: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    width: 90%;
    padding: 15px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-gap: 20px;
  }

  .project-name-label {
    display: flex;
    flex-direction: column;
  }

  .list-header {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .taskbar {
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: .3s;
  }

  .taskbar:hover {
    cursor: pointer;
    background-color: #aeb8fe;
    transition: .3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .project-title {
    margin: 0;
  }

  .task-text {
    margin: 0;
  }

  .project-header {
    display: flex;
    width: 85%;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid black; */
  }

  .project-header h2 {
    font-size: x-large;
    font-weight: 900;
    margin: 10px 0;
  }

  .item-actions {
    display: flex;
  }

  .selected-project {
    outline: 2px solid #27187e;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .prio-buttons {
    width: fit-content;
    border: 1px solid #27187e;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: row !important;
    flex-wrap: nowrap;
  }

  .prio-buttons input {
    display: none;
  }

  .prio-buttons label {
    padding: 0px 16px;
    border-right: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.3s;
  }

  .prio-buttons label:last-of-type {
    border-right: 0;
  }

  .prio-buttons label:hover {
    background-color: #aeb8fe;
  }

  /* .prio-buttons input:checked + label {
    background-color: #becbff;
  } */

  #prio1:checked + label {
    background-color: rgb(255, 70, 24);
  }

  #prio2:checked + label {
    background-color: rgb(255, 252, 48);
  }

  #prio3:checked + label {
    background-color: rgba(51, 192, 93);
  }

  .item-title-text {
    justify-self: start;
  }

  .due-date-text {
    justify-self: end;
  }

  .completed-todo:after {
    position: absolute;
    left: 37%;
    top: 50%;
    height: .1em;
    background: black;
    content: "";
    width: 73%;
    display: block;
    transform: translateX(-37%);
    transition: all 0.3s;
  }

  .modal-buttons button {
    background-color: rgb(0, 0,0, 0);
    font-family: 'Space Grotesk';
    color: #f1f2f6;
    border: 0;
    font-weight: 900;
  }

  .modal-buttons button:hover {
    cursor: pointer;
    background-color: #27187e;
    transition: all 0.3s;
    border-radius: 5px;
  }

  .modal-buttons:first-child {
    border-right: 2px solid #27187e;
    border-radius: 5px 0 0 5px;
  }